<div class="main-container">
  <div class="row min-height-600 no-flex-wrap">
    <div class="card col-md-2" style="margin-right: 2px;">
      menu left
    </div>
    <div class="card col-md-10 background-grey border-none"  style="padding-left: 0;padding-right: 0;">
      <div class="col d-flex flex-column justify-content-between"  style="padding-left: 0;padding-right: 0;">
        <div class="card min-height-80 mb-2">
          Header
        </div>
        <div class="card mb-2" style="min-height: 480px;">
          Main container
        </div>
        <div class="card min-height-80">
          footer
        </div>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>



